:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
  --main-bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

body {
  /* background-color: var(--main-bg-color); */
}

.card {
  /* color: var(--white); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid --var(--card-bg-color);
  border-radius: 10px;
  overflow: hidden;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
